body{
margin:0;
font-family:Arial;
background:#2f3136;
color:white;
}

/* LOGIN */

.loginBox{
width:300px;
margin:120px auto;
background:#202225;
padding:20px;
border-radius:10px;
text-align:center;
}

.loginBox input{
width:100%;
padding:10px;
margin:6px 0;
border:none;
border-radius:6px;
}

.loginBox button{
width:100%;
padding:10px;
margin-top:6px;
background:#5865F2;
border:none;
color:white;
}


/* TOPBAR */

.topbar{
height:55px;
background:#202225;
display:flex;
align-items:center;
justify-content:center;
position:fixed;
top:0;
width:100%;
z-index:5;
}

#menuBtn{
position:absolute;
left:10px;
font-size:22px;
color:white;
background:none;
border:none;
cursor:pointer;
}

.logoRight{
position:absolute;
right:10px;
font-weight:bold;
}


/* SIDEBAR */

.sidebar{
position:fixed;
left:-200px;
top:0;
width:200px;
height:100%;
background:#202225;
padding:20px;
transition:0.3s;
z-index:10;
}

.sidebar.open{
left:0;
}


/* CHAT */

.chatArea{
margin-top:70px;
padding:15px;
padding-bottom:80px;
}

.messageInputArea{
position:fixed;
bottom:0;
width:100%;
background:#202225;
padding:10px;
display:flex;
}

.messageInputArea input{
flex:1;
padding:12px;
border-radius:6px;
border:none;
}

.messageInputArea button{
margin-left:6px;
padding:12px;
background:#5865F2;
border:none;
color:white;
}
