body {
  background: #111;
  color: #fff;
  font-family: Arial;
}

.hidden { display: none; }

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

#messages {
  height: 60vh;
  overflow-y: auto;
  background: #1a1a1a;
  padding: 10px;
}
