body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.screen {
  padding: 20px;
}

.hidden {
  display: none;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  cursor: pointer;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background: #020617;
  padding: 10px;
}

#myUser {
  cursor: pointer;
  font-weight: bold;
}

.top-buttons button {
  font-size: 18px;
}

.content {
  padding: 10px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  background: #020617;
  margin: 10px 0;
  padding: 10px;
}

.panel {
  position: fixed;
  right: 0;
  top: 50px;
  width: 250px;
  height: 100%;
  background: #020617;
  padding: 10px;
}
