body{
  background:#0f1220;
  font-family:Arial;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.authBox{
  background:#1b1f3b;
  padding:25px;
  border-radius:12px;
  width:280px;
  display:flex;
  flex-direction:column;
  gap:10px;
  text-align:center;
}

input{
  padding:10px;
  border-radius:6px;
  border:none;
}

button{
  padding:10px;
  border:none;
  border-radius:6px;
  background:#5865f2;
  color:white;
  cursor:pointer;
}

.secondary{
  background:#444;
}

.hidden{
  display:none;
}
