.panel {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 280px;
  height: 70%;
  background: #1e1e1e;
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
  overflow-y: auto;
}

/* Mobil uyum */
@media (max-width: 768px) {
  .panel {
    width: 90%;
    right: 5%;
    height: 65%;
  }
}
