body{
margin:0;
font-family:Arial;
background:#2f3136;
color:white;
}


/* LOGIN */

.loginContainer{
width:300px;
margin:120px auto;
text-align:center;
background:#202225;
padding:20px;
border-radius:10px;
}

.loginContainer input{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:6px;
}

.loginContainer button{
width:100%;
padding:12px;
margin-top:8px;
background:#5865F2;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}


/* TOPBAR */

.topbar{
height:55px;
background:#202225;
display:flex;
align-items:center;
justify-content:center;
position:fixed;
top:0;
width:100%;
}

.logoRight{
position:absolute;
right:15px;
font-weight:bold;
}

#menuBtn{
position:absolute;
left:10px;
font-size:18px;
background:none;
border:none;
color:white;
cursor:pointer;
}

#usernameDisplay{
font-size:18px;
}


/* SIDEBAR */

.sidebar{
position:fixed;
left:-200px;
top:0;
width:200px;
height:100%;
background:#202225;
padding:20px;
transition:0.3s;
}

.sidebar.open{
left:0;
}

.sidebar p{
cursor:pointer;
color:#ff6b6b;
}


/* CHAT */

.chatArea{
margin-top:65px;
padding:15px;
padding-bottom:80px;
}

#messages{
display:flex;
flex-direction:column;
gap:8px;
}

.message{
background:#40444b;
padding:10px;
border-radius:10px;
max-width:60%;
}

.myMessage{
background:#5865F2;
align-self:flex-end;
}


/* INPUT */

.messageInputArea{
position:fixed;
bottom:0;
width:100%;
background:#202225;
display:flex;
padding:10px;
}

.messageInputArea input{
flex:1;
padding:14px;
border:none;
border-radius:8px;
}

.messageInputArea button{
padding:12px 20px;
margin-left:8px;
border:none;
border-radius:8px;
background:#5865F2;
color:white;
}
