body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

.screen {
  padding: 20px;
}

.hidden {
  display: none;
}

/* AUTH */
.auth-box {
  max-width: 350px;
  margin: 80px auto;
  background: #020617;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  text-align: center;
}

.logo {
  margin: 0;
  font-size: 32px;
}

.welcome {
  opacity: 0.8;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}

.link {
  margin-top: 12px;
  cursor: pointer;
  color: #38bdf8;
}

/* MAIN */
.topbar {
  display: flex;
  justify-content: space-between;
  background: #020617;
  padding: 10px;
}

#myUser {
  cursor: pointer;
  font-weight: bold;
}

.top-buttons button {
  font-size: 18px;
  background: transparent;
}

.content {
  padding: 10px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  background: #020617;
  margin: 10px 0;
  padding: 10px;
}

.panel {
  position: fixed;
  right: 0;
  top: 50px;
  width: 250px;
  height: 100%;
  background: #020617;
  padding: 10px;
}
