body{
margin:0;
font-family:Arial;
background:#2f3136;
color:white;
}

.loginContainer{
width:300px;
margin:100px auto;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:5px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
margin-top:5px;
background:#5865F2;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

/* Top bar */
.topbar{
height:50px;
background:#202225;
display:flex;
align-items:center;
padding:10px;
}

/* Sidebar */
.sidebar{
position:fixed;
left:-220px;
top:0;
width:220px;
height:100%;
background:#202225;
padding:20px;
transition:0.3s;
}

.sidebar.open{
left:0;
}

.chatArea{
margin-top:60px;
padding:20px;
}

.messageInputArea input{
flex:1;
padding:15px;
font-size:16px;
border-radius:8px;
border:none;
}

.messageInputArea input{
flex:1;
margin-right:10px;
}
